<nav class="navbar navbar-inverse">
<div class="container-fluid">
	<div class="navbar-header">
		{{#link-to "index" tagName="li"}}<a class="navbar-brand" href="#">HOME</a>{{/link-to}}
	</div>
	<div>
	<ul class="nav navbar-nav">
		{{#link-to "analytics" tagName="li"}}<a href="/analytics">Analytics</a>{{/link-to}}
	</ul>
	</div>
</div>
</nav>